<<<<<<< HEAD
.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
=======
@import url(../vendor/normalize.css.txt);
>>>>>>> 2532ea3ebd6d3064abdac288e35454d21b02137f
.page {
    width: 100%;
    background-color: #2A2C2F;
    color: #fff;
    font-family: "Inter-Regular", sans-serif;
}
.header {
display: flex;
flex-direction: column;
align-items: center;
}
.header__logo {
    max-width: 300px;
    margin-top: 34px;
    padding-bottom: 91px;

}
.header__content {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.header__title {
    margin: 0 auto;
    max-width: 720px;
    max-height: 200px;
    text-align: center;
    font-family: "Inter-Black", sans-serif;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    

}
.header__subheading {
    max-width: 720px;
    max-height: 72px;
  
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
}
.header__content-imgae {
    max-width: 990px;
    max-height: 615px;

}
.header__image {
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
}
.content {
   width: 990px;
   box-sizing: border-box;
}
.content__sec {
    box-sizing: border-box;
    width: calc(100% - 160px);

}
.content__title {
    font-family: "Inter-Black", sans-serif;
font-weight: 900;
font-size: 54px;
line-height: 58px;
letter-spacing: 0%;

}
.content__paragraph-text {
    font-family: Inter;
font-weight: 400;
font-size: 24px;
line-height: 34px;
letter-spacing: 0%;

}
.content__paragraph-second-text {
    font-family: Inter;
font-weight: 400;
font-size: 24px;
line-height: 34px;
letter-spacing: 0%;
text-align: right;


}
.content__paragraph-trd-text {
    font-family: Inter;
font-weight: 400;
font-size: 16px;
line-height: 163%;
letter-spacing: 0%;

}
.footer {
    width: 100%;
}
.footer__content {
    display: flex;
    justify-content: center;
}
.footer__copyright {
    margin-top: 92px;

}
@media  screen and (max-width: 768px) {
    .header__title {
font-size: 75px;
line-height: 79px;
}
.header__content-imgae {
    width: 100%;
}
.content__title {
font-size: 45px;
line-height: 49px;
}
.content {
    width: 100%;
}
.content__sec {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
}

}
@media screen and (max-width: 390px) {
    .header__title {
font-size: 40px;
line-height: 44px;
    }
    .header__subheading {
font-size: 16px;
line-height: 20px;
    }
    .content__title {
        font-family: Inter;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: 0%;
        
    }
    .content__paragraph-text {
        font-family: Inter;
font-weight: 400;
font-size: 24px;
line-height: 30px;
letter-spacing: 0%;
    }
    
}