@import url(../vendor/normalize.css.txt);
@import url(../blocks/body.css);
@import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/content.css);
@import url(../blocks/footer.css);
@import url(../blocks/mediaqueries.css);

.content__places {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    max-width: 1184px;

}
